

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
    font-size: 1em;
    justify-content: center;
}


h1{
    text-align: center;
    font-size: 50px; /*Aumenta o tamanho da fonte*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

header h1 {
    text-align: center;

}


header{
    background-image: url('imagens/sky-2609976_1280.jpg');
    height: 577px;
}

header nav ul{
    list-style: none;
    padding: 30px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav a:hover{
    color: #0056b3;
}

a:visited{
    color:#fdfeff
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px; /*espaçamento dos itens*/
    
}

h2{
    text-align: center;
    font-size: 32px;
    font-style: italic;
    margin-top: 50px;
}

/* ------------------ Header ------------------ */

form {
    max-width: 1000px; /* Define a largura máxima do formulário */
    margin: auto; /* Centraliza horizontalmente */
    padding: 40px; /* Adiciona um espaço interno ao redor do formulário */
}


fieldset{
    border: 0;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}


.campo{
    padding-right: 1em;
}

input{
    border-radius: 6px;
    font-size: 1em;

}


.campo{
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    color: white;
    width: 99%; /*arrumar a largura do input*/
    padding: 8px; /* Espaçamento interno para o texto dentro do input */
    margin-bottom: 18px; /* Espaçamento inferior entre os campos */
    border: 1px solid white; /* Borda branca */
    border-radius: 9px;
    box-sizing: border-box; 
    background-color: #000000; 
    align-items: center;
}

 /*arrumar a largura do input*/
.campo input[type="text"] {
    width: 428px; /* Defina o tamanho desejado aqui */
}

label {
    display: block; /* Faz com que os labels fiquem em linha verticalmente */
    margin-bottom: 6px; /* Espaçamento inferior entre os labels */
}




.privacidade{
    margin-bottom: 70px;

}

.privacidade input[type="checkbox"] {
    /* Estilizando a caixa de seleção */
    width: 20px; /* largura */
    height: 20px; /* altura */
    margin-right: 10px; /* margem à direita para separar do texto */
    vertical-align: middle; /* alinhar verticalmente com o texto */
    position: relative;
    top: -1px; /* ajuste fino para alinhar melhor com o texto */
}


.privacidade input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 20px; /* largura */
    height: 20px; /* altura */
    border: 1px solid #ffffff; /* borda da caixa de seleção */
    border-radius: 2px; /* borda arredondada */
    background-color: #000000; /* cor de fundo */
    position: absolute;
    top: 0;
    left: 0;
}

.privacidade input[type="checkbox"]:checked::before {
    background-color: #ed0707e9; /* cor de fundo quando marcado */
    border-color: #000000; /* cor da borda quando marcado */
}

button{
    background-color: blue;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    transition: background-color 0.3s ease; /* Adiciona transição suave na mudança de cor */
    outline: none;
    border: none;
}


button:hover {
    background-color: rgb(11, 6, 91); /* Cor que o botão terá ao passar o mouse por cima */
}


/* ------------------- Rodapé -------------------*/

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: flex-end;
    margin-top: 100px; /*O conteudo fica mais abaixo da tela*/
}

footer div ul li a {
    text-decoration: none;
}

footer a{
    color: white;
}

footer a:hover {
    color: blue;
}


.f1 ul, .f2 ul, .f3 ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */  
}


.midia ul li{
    display: inline-block;
}

.copy{
    margin-top: 100px; /*O conteudo fica mais abaixo da tela*/
    text-align: center;
    margin-bottom: 10px;
}

.copy a{
    margin-right: 15px;/*afasta os itens*/
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 14px;
}
